/.DS_Store
/.ipynb_checkpoints
/Appendix.docx
/Brandon.pptx
/BrandonOriginal.pdf
/Images
/Metadata
/NATO2025-Problem-Solution-Final.docx
/Nastenko et al 2025_09_05.docx
/PaperDraft.MD
/PaperDraft_v3.docx
/PaperDraft_v3_comments.docx
/PaperDraft_v4.pdf
/Q_and_A.docx
/Sources.docx
/System.docx
/archive
/description.docx
/girls girls girls
/new_results.pptx
/pipeline.py
/prompt.docx
/prompt_copy.docx
/Доклад.docx